html, body, {
    position:fixed;
    overflow-x:hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#me-img {
	z-index: 1;
	width: 30%;
	margin: 5%;
	position:relative;
	float:left;
}

h1{
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.about-content{
	position: static;
	height: 80vh;
}

#about-text {
	position: relative;
	margin-left: 45%;
	padding-top: 5%;
	width: 40%;
	font-size: 1vw;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

.resume{
	position: relative;
	background-color:#f9ae98;
}


h2{
	padding-top: 15vh;
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
}
h3{
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
}

.header {
	text-align: center;
	margin-bottom: 4%;
}

.exp-img{
	margin-left: 15%;
	position: static;
	padding-bottom: 10%;
	width: 90%;
}

.exp-heading{
	margin-left: 5vw;
	width: 85%;
	font-family: 'Raleway', sans-serif;
}

.resume-button{
	background-color: #f9ae98;
  	color: dimgray;
  	border: 2px solid dimgray; /* Green */
  	border-radius: 3px;
  	align-content: center;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
}

.resume-button:hover{
	background-color: dimgray;
  	color: white;
  	border: 2px solid dimgray; 
  	border-radius:3px;
  	align-content: center;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
}

.button-div{
	display: flex;
  align-items: center;
  justify-content: center;
}

