.navbar{
	align-content: right;
	vertical-align: center;
	background-color: #f9ae98;
	border-bottom: 5px solid #000;;
}

.navbar-brand{
	font-family: 'Baloo Bhaijaan', cursive;
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	margin-top: 1%;
  	font-size: 3em;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	float: right;
}

li {
	float: right;
	font-family: Raleway;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 25px;
	text-decoration: none;
	/*font-size: 5em;*/
}

li a:hover {
	display: block;
	color: grey;
	text-decoration: none;
}

li a:active {
	display: block;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

#divider {
	height: 2px;
	width: 100%;
	align-content: center;
	background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
}