h1 {
	text-align: center;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	padding: 70px;
}
h3	{
	text-align: center;

}

img {
	margin: 50px;
}

.right-text{
	margin: 50px;
	line-height: 20px;
	float: right;
	position: relative;
}

div {
	margin: 50px;
}

.centered-img {
	align-content: center;
}

p {
	margin: 50px;
	line-height: 1px;
}

			.rotate {
				transform: rotate(90deg); 
			 }